body {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(#ff0000, #897171);
  box-shadow: 30px 30px 200px rgba(0, 0, 0, 0.5);
}

.heart {
  position: relative;
  width: 200px;
  height: 200px;
  background: rgb(250, 5, 5);
  transform: rotate(45deg);
  
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(45deg) scale(1);
  }
  20% {
    transform: rotate(45deg) scale(0.8);
  }
  40% {
    transform: rotate(45deg) scale(1.2);
  }
  60% {
    transform: rotate(45deg) scale(1);
  }
  80% {
    transform: rotate(45deg) scale(1.3);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
.heart:before {
  content: " ";
  position: absolute;
  top: -100px;
  width: 200px;
  height: 100px;
  background: rgb(250, 5, 5);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.heart:after {
  content: " ";
  position: absolute;
  left: -100px;

  width: 100px;
  height: 200px;
  background: rgb(250, 5, 5);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container span {
  font-size: 22vw;
  font-weight: 800;
  text-shadow: -0em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}
.i {
  margin-right: 120px;
}
.u {
  margin-left: 120px;
}
.container2 {
  position: relative;
  bottom: 139px;
  right: 225px;
  word-spacing: 2px;
}
.container2 span {
  font-size: 3vw;
  font-weight: 800;
  text-shadow: -0em 0.03em 0.12em rgba(0, 0, 0, 0.9);
  color: #f2f90bba;
}
